<p id="notice"><%= notice %></p>
<%= render partial: 'navi' %>
<%= render partial: 'page', locals: {page: @page} %>
<% @related_pages.each do |page| %>
  <%= render partial: 'page_mini', locals: {page: page} %>
<% end %>
